<div *ngIf="!competition">
  <p>Loading ...</p>
</div>

<div *ngIf="competition">
  <!-- we hebben hier nu een user variable uit de user$ Observable gehaald. -->
  <h1>{{ competition.name }}</h1>
  <div *ngIf="competition.game"><h4>Game: <a routerLink="../../games/{{ competition.game._id }}">{{ competition.game.name }}</a></h4>
  <p>Genre: {{ competition.game.genre }}</p>
  <p>Publisher: {{ competition.game.publisher }}</p></div>
  <div *ngIf="competition.winner"><p>Winner: {{ competition.winner.name }}</p></div>
  <p>Description: {{ competition.description }}</p>
  <p>Contestants: </p>
  <div *ngFor="let player of competition.players">
    <a routerLink="../../players/{{ player._id }}"> {{ player.name }}</a>
  </div>
  <div class="col-auto">
    <button
      type="button"
      class="btn btn-success"
      routerLink="update/{{competition._id}}"
    >
      Edit
    </button>
  <button
        type="button"
        class="btn btn-outline-warning" routerLink="..">
          Back
  </button>
  </div>
</div>
