<h1>Player list</h1>
<p>This is a list containing all of our players.</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of player$ | async">
      <td>
        <a routerLink="{{ player._id }}">{{ player.name }}</a>
      </td>
      <td>{{ calculateAge(player.birthday) }}</td>
      <td>
        <button
      type="button"
      class="btn btn-success"
      routerLink="update/{{player._id}}"
    >
      Edit
    </button>
      </td>
      <td>
        <button
      type="button"
      class="btn btn-success"
      (click)="delete(player._id)"
    >
    Delete
    </button>
      </td>
    </tr>
  </tbody>
</table>
<a routerLink="create/player">Create new player</a>
