<h1>Competition list</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Game</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let competition of competition$ | async">
      <td>
        <a routerLink="{{ competition._id }}">{{ competition.name }}</a>
      </td>
      <td><a routerLink="../games/{{ competition.game._id }}">{{ competition.game.name }}</a></td>
      <td>
        <button
      type="button"
      class="btn btn-success"
      routerLink="update/{{competition._id}}"
    >
      Edit
    </button>
      </td>
      <td>
        <button
      type="button"
      class="btn btn-success"
      (click)="delete(competition._id)"
    >
    Delete
    </button>
      </td>
    </tr>
  </tbody>
</table>
<a routerLink="create/competition">Create new Game</a>