<div *ngIf="!(player$ | async)">
  <p>Loading ...</p>
</div>

<div *ngIf="player$ | async as player">
  <!-- we hebben hier nu een user variable uit de user$ Observable gehaald. -->
  <h1>{{ player.name }}</h1>
  <p>Age: {{ calculateAge(player.birthday) }}</p>
  <p>Bio: {{ player.bio }}</p>
  <div class="col-auto">
    <button
      type="button"
      class="btn btn-success"
      routerLink="update/{{player._id}}"
    >
      Edit
    </button>
  <button
        type="button"
        class="btn btn-outline-warning" routerLink="..">
          Back
  </button>
  </div>
</div>
