<div *ngIf="!(user$ | async)">
  <p>Loading ...</p>
</div>

<div *ngIf="user$ | async as user">
  <!-- we hebben hier nu een user variable uit de user$ Observable gehaald. -->
  <h1>{{ user.fullname }}</h1>
  <p>{{ user.email }}</p>
  <div class="col-auto">
    <button
      type="button"
      class="btn btn-success"
      routerLink="update"
    >
      Edit
    </button>
  <button
        type="button"
        class="btn btn-outline-warning" routerLink="..">
          Back
  </button>
  </div>
</div>
