<h1>Competition list</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Game</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let competition of competition$ | async">
      <td>
        <a routerLink="{{ competition._id }}">{{ competition.name }}</a>
      </td>
      <td><a routerLink="../games/{{ competition.game._id }}">{{ competition.game.name }}</a></td>
    </tr>
  </tbody>
</table>
