<div *ngIf="!(game$ | async)">
  <p>Loading ...</p>
</div>

<div *ngIf="game$ | async as game">
  <div>
    <h1>{{ game.name }}</h1>
    <p>Game type: {{ game.genre }}</p>
    <p>Publisher: {{ game.genre }}</p>
  </div>
  <div class="col-auto">
    <button
      type="button"
      class="btn btn-success"
      routerLink="update/{{game._id}}"
    >
      Edit
    </button>
    <button
          type="button"
          class="btn btn-outline-warning" routerLink="..">
            Back
    </button>
  </div>
  <a routerLink="../../competitions/game/{{ game._id }}">Find all competitions on this game</a>
</div>
