<div class="row">
  <div class="col-md-4">
  </div>
    <div class="col-md-4">
    <form class="form-signin" (ngSubmit)="loginForm.valid && onSubmit()" #loginForm="ngForm" name="form" novalidate>
      <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
      <div class="form-group">
        <label class="sr-only" for="email">E-mail:</label>
        <input type="email" class="form-control" [(ngModel)]="user.email" id="email" name="email" #email="ngModel"
          [ngClass]="{ 'is-invalid': submitted && email.invalid }" placeholder="E-mail" required autofocus />
        <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
          <div *ngIf="email.errors?.required">E-mail is vereist.</div>
        </div>
        <label class="sr-only" for="password">Password:</label>
        <input type="password" class="form-control" [(ngModel)]="user.password" id="password" name="password"
          #password="ngModel" [ngClass]="{ 'is-invalid': submitted && password.invalid }" placeholder="Wachtwoord" required />
      </div>
      <div class="form-group form-check">
        <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
          <div *ngIf="password.errors?.required">Wachtwoord is vereist.</div>
        </div>
      </div>
      <div>
        
          <button class="btn btn-lg btn-primary btn-block pm-3" [disabled]="!loginForm.valid" type="submit">
            Log in
          </button>
          <button class="btn btn-lg btn-primary btn-block pm-3" routerLink=".."  >
            Home
          </button>
      </div>
    </form>
    
    </div>
    <div class="col-md-4"></div>
</div>
