<div>{{title}}</div>
<div *ngIf="!player">
  <p>Loading ...</p>
</div>

<div *ngIf="player">
  <form
    #playerEditForm="ngForm"
    name="form"
    (ngSubmit)="playerEditForm.form.valid && onSubmit()"
    novalidate
  >
    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-4">
        <label for="playername">Player name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="player.name"
          name = "playername"
          #playername="ngModel"
          [ngClass]="{
            'is-invalid': playername.invalid
          }"
          required
          minlength="3"
        />
        <div *ngIf="playername.invalid && playername.touched" class="invalid-feedback">
          <div *ngIf="playername.errors.required"> Player name is required.</div>
          <div *ngIf="playername.errors.minlength"> Player name must be at least 3 letters.</div>
        </div>
      </div>

      <div class="form-group col-sm-12 col-lg-4">
        <label for="birthday">Player birthday</label>
        
        <input
          type="date"
          class="form-control"
          [(ngModel)]="playerDate"
          [ngModel]="playerDate | date: 'yyyy-MM-dd'"
          name = "birthday"
          #birthday="ngModel"
          [ngClass]="{
            'is-invalid': birthday.invalid
          }"
          required
        />
        <div *ngIf="birthday.invalid && birthday.touched" class="invalid-feedback">
          <div *ngIf="birthday.errors.required"> Player birthday is required.</div>
        </div>
      </div>

      <div class="form-group col-sm-12 col-lg-4">
        <label for="playerbio">Player bio</label>
        <textarea
          type="text"
          class="form-control"
          [(ngModel)]="player.bio"
          name = "playerbio"
          #playerbio="ngModel"
          [ngClass]="{
            'is-invalid': playerbio.invalid
          }"
          required
          minlength="10"
        ></textarea>

        <div *ngIf="playerbio.invalid && playerbio.touched" class="invalid-feedback">
          <div *ngIf="playerbio.errors.required"> Player name is required.</div>
          <div *ngIf="playerbio.errors.minlength"> Player name must be at least 10 letters.</div>
        </div>
      </div>
    </div>
    <div class="form row">
      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!playerEditForm.valid"
        >
          Save
        </button>
        <button
        type="button"
        class="btn btn-outline-warning" routerLink="../..">
          Cancel
        </button>
      </div>
    </div>

  </form>
</div>

