<div>{{title}}</div>
<div *ngIf="!game">
  <p>Loading ...</p>
</div>

<div *ngIf="game">
  <form
    #gameEditForm="ngForm"
    name="form"
    (ngSubmit)="gameEditForm.form.valid && onSubmit()"
    novalidate
  >
    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-4">
        <label for="gamename">Game name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="game.name"
          name = "gamename"
          #gamename="ngModel"
          [ngClass]="{
            'is-invalid': gamename.invalid
          }"
          required
          minlength="2"
        />
        <div *ngIf="gamename.invalid && gamename.touched" class="invalid-feedback">
          <div *ngIf="gamename.errors.required"> Game name is required.</div>
          <div *ngIf="gamename.errors.minlength"> Game name must be at least 2 letters.</div>
        </div>
      </div>

      <div class="form-group col-sm-12 col-lg-4">
        <label for="gamegenre">Game genre</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="game.genre"
          name = "gamegenre"
          #gamegenre="ngModel"
          [ngClass]="{
            'is-invalid': gamegenre.invalid
          }"
          required
          minlength="2"
        />
        <div *ngIf="gamegenre.invalid && gamegenre.touched" class="invalid-feedback">
          <div *ngIf="gamegenre.errors.required"> Game genre is required.</div>
          <div *ngIf="gamegenre.errors.minlength"> Game genre must be at least 2 letters.</div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-lg-4">
        <label for="gamepub">Game publisher</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="game.publisher"
          name = "gamepub"
          #gamepub="ngModel"
          [ngClass]="{
            'is-invalid': gamepub.invalid
          }"
          required
          minlength="2"
        />
        <div *ngIf="gamepub.invalid && gamepub.touched" class="invalid-feedback">
          <div *ngIf="gamepub.errors.required"> Game publisher is required.</div>
          <div *ngIf="gamepub.errors.minlength"> Game publisher must be at least 2 letters.</div>
        </div>
      </div>
    </div>
    <div class="form row">
      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!gameEditForm.valid"
        >
          Save
        </button>
        <button
        type="button"
        class="btn btn-outline-warning" routerLink="../..">
          Cancel
        </button>
      </div>
    </div>
    
  </form>
</div>

