<div id = "title">{{title}}</div>
<div *ngIf="!competition">
  <p>Loading ...</p>
</div>

<div *ngIf="competition">
  <form

    #competitionEditForm="ngForm"
    id = "mainForm"
    name="form"
    (ngSubmit)="competitionEditForm.form.valid && onSubmit()"
    novalidate
  >
    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-4">
        <label for="competitionname">Competition name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="competition.name"
          name = "competitionname"
          #competitionname="ngModel"
          [ngClass]="{
            'is-invalid': competitionname.invalid
          }"
          required
          minlength="2"
        />
        <div *ngIf="competitionname.invalid && competitionname.touched" class="invalid-feedback">
          <div *ngIf="competitionname.errors.required"> Competition name is required.</div>
          <div *ngIf="competitionname.errors.minlength"> Competition name must be at least 2 letters.</div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-lg-4">
        <label for="description">Description</label>
        <textarea
          type="text"
          class="form-control"
          [(ngModel)]="competition.description"
          name = "description"
          #description="ngModel"
          [ngClass]="{
            'is-invalid': description.invalid
          }"
          required
          minlength="10"
        ></textarea>

        <div *ngIf="description.invalid && description.touched" class="invalid-feedback">
          <div *ngIf="description.errors.required"> Description is required.</div>
          <div *ngIf="description.errors.minlength"> Description must be at least 10 letters.</div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-lg-4">
        <label for="competitiongame">Competition Game</label>
        <select name="competitiongame" class="custom-select" [(ngModel)]="competition.game" #competitiongame="ngModel"
        [ngClass]="{
          'is-invalid': competitiongame.invalid
        }" required>
            <option *ngFor="let game of games" [ngValue]="game">{{game.name}}</option>
        </select>
        <div *ngIf="competitiongame.invalid && competitiongame.touched" class="invalid-feedback">
          <div *ngIf="competitiongame.errors.required"> Game is required.</div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-lg-4">
        <label for="winner">Competition Winner</label>
        <select name="winner" class="custom-select" [(ngModel)]="competition.winner" #winner="ngModel"
        [ngClass]="{
          'is-invalid': winner.invalid
        }" required>
            <option *ngFor="let player of players" [ngValue]="player">{{player.name}}</option>
        </select>
        <div *ngIf="winner.invalid && winner.touched" class="invalid-feedback">
          <div *ngIf="winner.errors.required"> Winner is required.</div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-lg-4">
        <label for="competitionplayers">Competition Players</label>
        <select name="competitionplayers" multiple class="custom-select" [(ngModel)]="competition.players" #competitionplayers="ngModel"
        [ngClass]="{
          'is-invalid': competitionplayers.invalid
        }" required>
            <option *ngFor="let player of players" [ngValue]="player">{{player.name}}</option>
        </select>
        <div *ngIf="competitionplayers.invalid && competitionplayers.touched" class="invalid-feedback">
          <div *ngIf="competitionplayers.errors.required"> Players are required.</div>
        </div>
        <p>Note: Select multiple players with the control button.</p>
      </div>
    </div>
    <div class="form row">
      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!competitionEditForm.valid"
        >
          Save
        </button>
        <button
        type="button"
        class="btn btn-outline-warning" routerLink="../..">
          Cancel
        </button>
      </div>
    </div>
    
  </form>
</div>

