<section class="jumbotron text-center">
  <div class="container">
    <h1>Gallery of Glory</h1>
    <p class="lead text-muted">
      Welcome to Gallery of Glory
    </p>
    <p>
      <a routerLink="../players" class="btn btn-secondary my-2">The Players</a>
      <a routerLink="../games" class="btn btn-secondary my-2">The Games</a>

    </p>
    <p><a routerLink="../competitions" class="btn btn-primary my-2">The Competitions</a></p>
  </div>
</section>
