<div>{{title}}</div>
<div *ngIf="!user">
  <p>Loading ...</p>
</div>

<div *ngIf="user">
  <form
    #userEditForm="ngForm"
    name="form"
    (ngSubmit)="userEditForm.form.valid && onSubmit()"
    novalidate
  >
    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-4">
        <label for="username">User name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="user.fullname"
          name = "username"
          #username="ngModel"
          [ngClass]="{
            'is-invalid': username.invalid
          }"
          required
          minlength="2"
        />
        <div *ngIf="username.invalid && username.touched" class="invalid-feedback">
          <div *ngIf="username.errors.required"> User name is required.</div>
          <div *ngIf="username.errors.minlength"> User name must be at least 2 letters.</div>
        </div>
      </div>
    </div>
    <div class="form row">
      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!userEditForm.valid"
        >
          Save
        </button>
        <button
        type="button"
        class="btn btn-outline-warning" routerLink="..">
          Cancel
        </button>
      </div>
    </div>
    
  </form>
</div>

