<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a
      class="navbar-brand"
      routerLink="/"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ title }}</a
    >
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [ngbCollapse]="isNavbarCollapsed"
      class="collapse navbar-collapse"
      id="navbarsDefault"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/players"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Players</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/games"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Games</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/competitions"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Competitions</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >About</a
          >
        </li>
      </ul>
    <div *ngIf="user.token; else logIn" >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/user"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >User</a
          >
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-success my-2 my-sm-0"
            id="logout"
            mat-button
            (click) = "onLogout()"
            [routerLinkActive]="['active']"
            >Logout</button
          >
        </li>
      </ul>
    </div>
    <ng-template  #logIn>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/register"
            [routerLinkActive]="['active']"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="login"
            routerLink="/login"
            [routerLinkActive]="['active']"
            >Login</a
          >
        </li>
      </ul>
    </ng-template>
    </div>
  </div>
</nav>
