<h1>Game list</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Genre</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of game$ | async">
      <td>
        <a routerLink="{{ game._id }}">{{ game.name }}</a>
      </td>
      <td>{{ game.genre }}</td>
      <td>
        <button
      type="button"
      class="btn btn-success"
      routerLink="update/{{game._id}}"
    >
      Edit
    </button>
      </td>
      <td>
        <button
      type="button"
      class="btn btn-success"
      (click)="delete(game._id)"
    >
    Delete
    </button>
      </td>
    </tr>
  </tbody>
</table>
<a routerLink="create/game">Create new Game</a>