<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>Gallery of Glory</h3>
    <p>
      Gallery of Glory is een applicatie die toont esport competities. Dit is een soort van een "Hall of Fame".
      De GOG bevat informatie over de competities en hoe de spel en spellers waren op dat moment.
      Doel van deze website is om informatie van de competities te bewaren, zodat mensen later deze informatie kan krijgen.
      Document database zorgt dat we een object kan opslaan als document. 
      Dit betekent dat de documenten niet verbonden zijn met de entiteiten.</p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/tselmeg.jpg"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Tselmeg Gantuya</h5>
        <p class="card-text">
          Studentnummer:2159166
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>

<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Player</p>
    <ul>
      <li>Name: string</li>
      <li>Birthday: Date</li>
      <li>Bio: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Game</p>
    <ul>
      <li>Name: string</li>
      <li>Genre: string</li>
      <li>Publisher: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Competition</p>
    <ul>
      <li>Name: string</li>
      <li>Description: string</li>
      <li>Game: Game</li>
      <li>Winner: Player</li>
      <li>Players: Player</li>
    </ul>
  </div>
</div>
<img
          src="assets/images/datamodel.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
